.jobInfo-container {
  display: flex;
  width: 100%;
}

.jobInfo-container-left,
.jobInfo-container-center,
.jobInfo-container-right {
  flex: 1;
  min-width: 300px;
}
.jobInfo-container-left {
  background-color: aquamarine;
}

.jobInfo-container-center {
  background-color: rgb(255, 170, 170);
}

.jobInfo-container-right{
  background-color: aqua;
}

.jobInfo-textArea {
  width: 80%;
  height: 20vh;
  resize: none;
  padding: 10px;
}

.info-paint-container {
  margin: 20px 10px;
}